
   :root {

        --beige-1      : #f4ede0; 
        --beige-2      : #f7f2e8;
        --beige-3      : #faf7f0;
        --beige-4      : #fcfbf7;
        --beige-5      : #fefefa;        
        
        --ivory        : #f3e2cd;
        
        --ink-1        : #262626;
        --ink-2        : #1d1d1b;
        --ink-3        : black;        

        --ancient-red  : #8b2010;

        --link-1       : #2468AC;
        --link-2       : #123456;        
        
        --bg-paper     : var(--beige-5);  
        --text-main    : var(--ink-1);
        --accent-red   : var(--ancient-red);
   
        --link         : var(--link-1);
        --link2        : var(--link-2);
        
        --link-visited : var(--link-1);
        --border-ink   : #3b352a;
        
        --black-1      : #505050;
        
        --font-main    : 'Constantia', 'Palatino Linotype', 'Georgia', serif;
        --font-sf      : 'Roboto', 'Arial', sans-serif;
        --font-title   : 'Cinzel', 'EB Garamond', 'Garamond', serif;
        --font-latin   : 'EB Garamond', 'Garamond', serif;
/*    
   
    
        --paper: #f3eee3;
        --ink: #262626;
        --muted: #6f6a63;
        --line: #c8c0b2;
        --accent: #37474f;        */
        
   }

