/*

    Ā   ā   Ă   ă
    Ē   ē   Ĕ   ĕ
    Ī   ī   Ĭ   ĭ
    Ō   ō   Ŏ   ŏ
    Ū   ū   Ŭ   ŭ
    Ȳ   ȳ

    <div class="vc-containter">

        <hr> <!-- CARD -->        
    
        <!-- LEMA -->
        <div class="vc-entry">
            <span class="vc-lema" id=""></span>
            <span class="vc-morphosintaxis"></span>
        </div> <!-- class="vc-entry" -->

        <!-- EXPRESIÓN -->            
        <div class="vc-expresion" id="">
        </div> <!-- class="vc-expresion" -->

        <!-- INFO -->
        <div class="vc-info">
        </div> <!--v class="vc-info" -->

        <!-- MORFOLOGIA -->
        <div class="vc-morfology"><span class="ts-latin"></span></div>

        <!-- ETIMOLOGÍA -->                
        <div class="vc-etimology"></div>
        
        <!-- USO -->                
        <div class="vc-use">
            <span class="ts-latin"></span><span class="ts-sup"><b>(&alpha;)</b></span>&nbsp;—
        </div> <!--v class="vc-use" -->

        <!-- DEFINICIÓN ÚNICA-->        
        <div class="vc-single-definition">
            <span class="ts-latin"><span class="ts-sup"><b>(&alpha;)</b></span></span>
            <span class="ts-author"></span>
        </div> <!-- class="vc-single-definition" -->

        <!-- DEFINICIONES MÚLTIPLES -->        
        <div class="vc-multiple-definitions">
            <ul class="vc-multiple-definitions-ul">
                <li>
                    <span class="ts-latin"><span class="ts-sup"><b>(&alpha;)</b></span></span>
                    <span class="ts-author"></span>
                </li>
            </ul>
        </div> <!-- class="vc-multiple-definitions" -->
        
        <!-- EJEMPLOS DE LAS FUENTES-->        
        <div class="vc-examples">
            En las fuentes:
            <ul class="vc-examples-ul">
                <li>
                    <span class="ts-latin"></span><span class="ts-sup"><b>(&alpha;)</b></span>
                    <span class="ts-author"></span>                     
                </li>
            </ul>
        </div> <!-- class="vc-examples" -->

        <!-- EJEMPLOS DE LAS SAGRADAS ESCRITURAS-->
        <div class="vc-examples">
            En las Sagradas Escrituras:
            <ul class="vc-examples-ul">
                <li>
                    <span class="ts-latin">
                        <span class="ts-latin-emph"></span>
                    <span class="ts-sup"><b>(&alpha;)</b></span>
                    <span class="ts-author">&nbsp;</span>
                </li>
            </ul>
        </div> <!-- class="vc-examples" -->

        <!-- NOTA ÚNICA -->
        <div class="vc-single-note">
             <span class="ts-latin"></span>
             <span class="ts-english"></span>        
        </div> <!-- class="vc-single-note" -->
        
        <!-- NOTAS MÚLTIPLES -->        
        <div class="vc-multiple-notes">
            <ul class="vc-multiple-notes-ul">
                <li>
                    <span class="ts-latin"></span>
                    <span class="ts-english"></span>
                    <span class="ts-japanese"><ruby><rt></rt></ruby></span>
                    <span class="ts-japanese"><i>文言文</i></span>
                </li>
            </ul>
        </div> <!-- class="vc-multiple-notes" -->
        
        <!-- TRADUCCIONES -->
        <div class="vc-translations">
            <div class="vc-translations-line"></div>
            <ol class="vc-translations-ol">
                <li>
                </li>
            </ol>
        </div> <!-- vclass="vc-translations"> -->

        <!-- ITEMS DISC -->        
        <div class="vc-items-disc">
            <ul class="vc-items-disc-ul">
                <li>
                    <span class="ts-latin"></span>
                    <span class="ts-english"></span>
                    <span class="ts-japanese"><i>文言文</i></span>:
                    <span class="ts-japanese"><ruby><rt></rt></ruby></span>
                </li>
            </ul>
        </div> <!-- class="vc-items-disc" -->
        
        
    </div> <!-- class="vc-containter" -->
*/

    :root {
        --vc-margin-top    : 0.3rem;
        --vc-margin-bottom : 0.55rem;
   }

/* TIPO DE ENTRADA Y NOTAS MORFOSINTÁCTICAS */

    .vc-containter{
        margin-top          : 1.5rem;
        margin-bottom       : 1rem;
    }
    
   
    .vc-entry{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        margin              : 0;
    }


    /* INFO  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



    .vc-lema{
/*         font-family         : var(--font-latin); */
        font-family         : "Cinzel", serif;
        font-weight         : 400;
        font-variant        : small-caps;
        font-weight         : bold;
        font-size           : 1.44em;    /*144%;        */
        letter-spacing      : .05rem; 
        color               : var(--ancient-red);
    }


    .vc-morphosintaxis{
        font-family         : "Eb Garamond", serif;
        font-weight         : 400;        
        margin-left         : 0.25rem;
        font-style          : italic;
        font-size           : 1.44rem; /*144%;*/
        letter-spacing      : .05rem;         
        color               : var(--ancient-red);      
    }
    

    .vc-expresion{
        font-family         :"Cinzel", serif;
        font-variant        : small-caps;
        font-style          : italic;
        font-weight         : bold;
        font-size           : 1.80rem;/*124%;*/
        color               : var(--ancient-red)
    }


/* INFO - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


    .vc-info{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        margin-left         : 3em;
        margin-right        : 3em;
    }

    .vc-info::first-letter {
        font-weight         : bold;
        color               : var(--ancient-red)
    }

/* ETIMOLOGY  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    .vc-etimology{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        font-family         : var(--font-sf);
        font-weight         : bold;
        line-height         : 1.5;
        color               : black;
    }        

/* DEFINICIONES RÁPIDAS    <<< ELIMINAR <<< ELIMINAR <<< ELIMINAR <<< ELIMINAR <<< ELIMINAR <<< ELIMINAR <<< ELIMINAR */        
    
    .vc-fast-definition{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        font-style          : italic;
        color               : orange;
    }
    
/* MORFOLOGÍA - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */           
    
    .vc-morfology{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }    


/* USO  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */       

    .vc-use{
        font-style          : italic;
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }

    .vc-use::first-letter {
        font-weight         : bold;
        color               : var(--black-1);
    }    

/* DEFINICIONES - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */    
    
    .vc-single-definition{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }

    .vc-single-definition::before{
        content             :"Def.: " ;       
        font-weight         : bold;
        font-style          : italic;
        color               : var(--black-1);
    }
    .vc-multiple-definitions{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }
    
    .vc-multiple-definitions::before{
        content             :"Definiciones:";       
        font-weight         : bold;
        font-style          : italic;
        color               : var(--black-1);
    }

    .vc-multiple-definitions-ul {
         margin-top         : .0rem;
         margin-bottom      : .0rem;
         list-style-type    : disc; /*circle, square, none */
    }

/* EJEMPLOS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */    

    .vc-examples{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        font-weight         : bold;
        font-style          : italic;
        color               : var(--black-1);        
    }
 
    
    .vc-examples-ul {
        margin-top         : .0rem;
        margin-bottom      : .0rem;
        list-style-type    : disc; /*circle, square, none */
        font-weight         : normal;
        font-style          : normal;
        color               : var(--text-main);                 
    }

/* "aditional definitions: a eliminar" */

    .vc-aditional-definition{
        margin-top          :    var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        color               : orange;
    }
    
    .vc-aditional-definition::before{
        content             :"N.: " ;       
        font-weight         : bold;
        font-style          : italic;
        color               : orange;
    }

/* NOTAS  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */    

    .vc-single-note{
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }

    .vc-single-note::before{
        content             :"Nota: " ;       
        font-weight         : bold;
        font-style          : italic;
        color               : var(--black-1);
    }

    .vc-notes{                  
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }
    
    .vc-notes::before{
        content             :"Notas: " ;       
        font-weight         : bold;
        font-style          : italic;
        color               : var(--black-1);
        color               : orange;        
    }

    .vc-notes-ul {
         margin-top         : .0rem;
         margin-bottom      : .0rem;
         list-style-type    : disc; /*circle, square, none */
    }
    
    
    .vc-multiple-notes{
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }
    
    .vc-multiple-notes::before{
        content             :"Notas: " ;       
        font-weight         : bold;
        font-style          : italic;
        color               : var(--black-1);
    }    
    
    
    .vc-multiple-notes-ul {
         margin-top         : .0rem;
         margin-bottom      : .0rem;
         list-style-type    : disc; /*circle, square, none */
    }
    
    .vc-notes-ol{
        margin-top          : .0rem;
        margin-bottom       : .0rem;
        list-style-type     : decimal;
    }

/* TRANSLATIONS   - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */    

    .vc-translations{
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }

    .vc-translations-line{
        width               : 200px;    /* Longitud de la línea */
        height              : 1px;      /* Grosor */
        background-color    : #555;     /* Color */
        margin              : 20px;     /* Espacio arriba/abajo + centrado */
     /* border-radius: 1px;  /* Bordes ligeramente redondeados, opcional */    
    }
   
    .vc-translations-ol{
        margin-top          : .0rem;
        margin-bottom       : .0rem;
        list-style-type     : lower-greek;
    }
    
    
/* LISTAS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */        
    

    .vc-items-disc{                  
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }
    }

    .vc-items-disc-ul {
         margin-top         : .0rem;
         margin-bottom      : .0rem;
         list-style-type    : disc; /*circle, square, none */
    }
    
    
/* NOTAS GENERALES  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */    

    .gn-general-notes{
        margin-top:    1rem;//var(--vc-margin-top);
        margin-bottom: 1rem;var(--vc-margin-bottom);
    }    
